{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 120,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always"
}
