@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    background-color: #111;
    color: #f0f0f0;
    overflow-x: hidden;

    cursor: default;
}

#terminal {
    width: 100%;
    height: 100vh;
    min-height: calc(100vh - 1rem);
    overflow-y: auto;
    white-space: pre-wrap;
    padding: 10px;
    font-size: 13pt;
    line-height: 1.2;
}

#input-line {
    margin-bottom: 2rem;
    line-height: 1.2;
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

#input-line > * {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#prompt {
    width: 1.2rem;
    display: grid;
    place-items: center;
}

#user {
    margin-right: 0.7rem;
    color: #EA6565;
}

#directory {
    color: #3E6FB8;
}

#input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #f0f0f0;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 13pt;
    line-height: 1.2;
    cursor: default;

}

#input::selection {
    background-color: #f0f0f0;
    color: #111;
}

/* term colors - styles.css */

.terminal-color-red { color: #C14141; }
.terminal-color-redBright { color: #EA6565; }
.terminal-color-yellow { color: #D2C42F; }
.terminal-color-yellowBright { color: #F3E54C; }
.terminal-color-green { color: #5FB83E; }
.terminal-color-greenBright { color: #85E562; }
.terminal-color-blue { color: #3E6FB8; }
.terminal-color-blueBright { color: #65A0F8; }
.terminal-color-magenta { color: #9A3FBB; }
.terminal-color-magentaBright { color: #D269F8; }
.terminal-color-cyan { color: #42C2C2; }
.terminal-color-cyanBright { color: #80F8EE; }
.terminal-color-white { color: #F0F0F0; }
.terminal-color-whiteBright { color: #FFFFFF; }
.terminal-color-gray { color: #A0A0A0; }
.terminal-color-black { color: #111111; }
.terminal-color-blackBright { color: #222222; }

/* background */
.terminal-bgColor-red { background-color: #C14141; }
.terminal-bgColor-redBright { background-color: #EA6565; }
.terminal-bgColor-yellow { background-color: #D2C42F; }
.terminal-bgColor-yellowBright { background-color: #F3E54C; }
.terminal-bgColor-green { background-color: #5FB83E; }
.terminal-bgColor-greenBright { background-color: #85E562; }
.terminal-bgColor-blue { background-color: #3E6FB8; }
.terminal-bgColor-blueBright { background-color: #65A0F8; }
.terminal-bgColor-magenta { background-color: #9A3FBB; }
.terminal-bgColor-magentaBright { background-color: #D269F8; }
.terminal-bgColor-cyan { background-color: #42C2C2; }
.terminal-bgColor-cyanBright { background-color: #80F8EE; }
.terminal-bgColor-white { background-color: #F0F0F0; }
.terminal-bgColor-whiteBright { background-color: #FFFFFF; }
.terminal-bgColor-gray { background-color: #A0A0A0; }
.terminal-bgColor-black { background-color: #111111; }
.terminal-bgColor-blackBright { background-color: #222222; }