@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    background-color: #111;
    color: #f0f0f0;
    overflow-x: hidden;

    cursor: default;
}

#terminal {
    width: 100%;
    height: 100vh;
    min-height: calc(100vh - 1rem);
    overflow-y: auto;
    white-space: pre-wrap;
    padding: 10px;
    font-size: 13pt;
    line-height: 1.2;
}

#input-line {
    margin-bottom: 2rem;
    line-height: 1.2;
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#input-line > * {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#prompt {
    width: 1.2rem;
    display: grid;
    place-items: center;
}

#user {
    margin-right: 0.7rem;
    color: #ea6565;
}

#directory {
    color: #3e6fb8;
}

#input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #f0f0f0;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 13pt;
    line-height: 1.2;
    cursor: default;
}

#input::selection {
    background-color: #f0f0f0;
    color: #111;
}

/* term colors - styles.css */

.terminal-color-red {
    color: #c14141;
}
.terminal-color-redBright {
    color: #ea6565;
}
.terminal-color-yellow {
    color: #d2c42f;
}
.terminal-color-yellowBright {
    color: #f3e54c;
}
.terminal-color-green {
    color: #5fb83e;
}
.terminal-color-greenBright {
    color: #85e562;
}
.terminal-color-blue {
    color: #3e6fb8;
}
.terminal-color-blueBright {
    color: #65a0f8;
}
.terminal-color-magenta {
    color: #9a3fbb;
}
.terminal-color-magentaBright {
    color: #d269f8;
}
.terminal-color-cyan {
    color: #42c2c2;
}
.terminal-color-cyanBright {
    color: #80f8ee;
}
.terminal-color-white {
    color: #f0f0f0;
}
.terminal-color-whiteBright {
    color: #ffffff;
}
.terminal-color-gray {
    color: #a0a0a0;
}
.terminal-color-black {
    color: #111111;
}
.terminal-color-blackBright {
    color: #222222;
}

/* background */
.terminal-bgColor-red {
    background-color: #c14141;
}
.terminal-bgColor-redBright {
    background-color: #ea6565;
}
.terminal-bgColor-yellow {
    background-color: #d2c42f;
}
.terminal-bgColor-yellowBright {
    background-color: #f3e54c;
}
.terminal-bgColor-green {
    background-color: #5fb83e;
}
.terminal-bgColor-greenBright {
    background-color: #85e562;
}
.terminal-bgColor-blue {
    background-color: #3e6fb8;
}
.terminal-bgColor-blueBright {
    background-color: #65a0f8;
}
.terminal-bgColor-magenta {
    background-color: #9a3fbb;
}
.terminal-bgColor-magentaBright {
    background-color: #d269f8;
}
.terminal-bgColor-cyan {
    background-color: #42c2c2;
}
.terminal-bgColor-cyanBright {
    background-color: #80f8ee;
}
.terminal-bgColor-white {
    background-color: #f0f0f0;
}
.terminal-bgColor-whiteBright {
    background-color: #ffffff;
}
.terminal-bgColor-gray {
    background-color: #a0a0a0;
}
.terminal-bgColor-black {
    background-color: #111111;
}
.terminal-bgColor-blackBright {
    background-color: #222222;
}
